.song {
    background-position: center center;
    background-size: cover;
    font-size: 1.2em;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 10px;
}
.request {
    display: inline-block;
}