<div class="container">
    <div class="text-center">
        <h3>Manage Song Requests</h3>
    </div>
    <button class="btn btn-default refresh" (click)="refreshRequests()">Refresh</button>
    <div *ngFor="#song of requests" class="row">
        <div class="song">
            {{song.name}}
            <div style="display: inline;" (click)="approveSong(song)">YES</div>
            <div style="display: inline;" (click)="dismissSong(song)">NO</div>
        </div>
    </div>
    <div class="container">
        <div class="text-center pad-top">
            <h3>Share With Attendees</h3>
        </div>
        <div class="input-group">
            <script type="text/javascript">
                (function(){
                    new Clipboard('#copy-button');
                })();
            </script>
            <input id="link" type="text" class="form-control" value="{{shareUrl}}">
            <span class="input-group-btn">
                <button id="copy-button" class="btn btn-secondary" data-clipboard-target="#link" type="button">Copy!</button>
            </span>
        </div>
    </div>
</div>